/*          DASHBOARD GERAL           */

body {
    background-color: #121214;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
}
#dashboard {
    width: 100%;
    height: 100%;
    background-color: #121214;
    display: flex;
    flex-direction: row;
}

/*          BARRA LATERAL         */

#barraLateral {
    width: 10%;
    height: 100%;
    padding: 2%;
    background-color: rgb(7%, 7%, 8%);
    box-shadow: 5px 5px 5px 0px black;
    font-size: 25px;
    cursor: default;
}
#conteudoBarraLateral {
    width: 95%;
    height: 90%;
    font-size: 80%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    flex-direction: column;
}
#conteudoBarraLateral h2 {
    text-align: center;
}
#iconBarraLateral::before {
    font-size: 50px;
    cursor: pointer;
}
#iconBarraLateral:hover {
    color: rgb(51%, 34%, 90%);
}
#barraLateral #iconBarraLateral {
    display: flex;
    justify-content: center;
}
.divDivisaoConteudo {
    height: 24%;
    width: 100%;
}
#user {
    border-bottom: 2px solid rgb(51%, 34%, 90%);
}
#acaoAnalisada, #dataAnalisada, #tipoGraf  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 0;
}
#acaoAnalisadaLinha, #dataAnalisadaLinha, #linhaTipoGraf {
    background: rgb(51%, 34%, 90%);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0;
}
#acaoAnalisadaLinha:hover, #dataAnalisadaLinha:hover, #linhaTipoGraf:hover {
    background-color: rgb(149, 118, 221);
}

/*          ÁREA  DO  GRÁFICO       */

#divGraf {
    width: 90%;
    height: 100%;
    background-color: rgb(22, 22, 24);
    border-radius: 10px;
    padding: 2%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvasjs-chart-canvas {
    font-size: 24px;
    background-color: rgba(163, 118, 221, 0.212);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
    border-radius: 10px;
}
.canvasjs-chart-tooltip {
    border: 4px solid rgb(175, 144, 245);
}
#analiseText {
    text-align: center;
}
#graficoArea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 2rem;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}
#escolhaGrafico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    font-size: 20px;
}
#variacaoPercentual {
    background-color: rgb(49, 116, 71);
    margin: 3%;
    padding: 3%;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#variacaoPercentual:hover {
    background-color: rgb(39, 92, 56);
}
#variacaoPercentual h2, #analiseFinanceira h2 {
    margin: 5%;
}
#analiseFinanceira {
    background-color: rgb(70, 100, 197);
    margin: 3%;
    padding: 3%;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#analiseFinanceira:hover {
    background-color: rgb(53, 76, 150);
}
#iconGraf {
    font-size: 35px;
}
#divPetr3, #divBbas3, #divItsa3, #divMglu3, #divVale3 {
    background-color: rgb(106, 80, 177);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    cursor: pointer;
}
#divPetr3:hover, #divBbas3:hover, #divItsa3:hover, #divMglu3:hover, #divVale3:hover {
    background-color: rgb(142, 118, 209);
}
#opcoesAcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    width: 100%;
    height: 20%;
}
#conteudoEscolhaGrafico {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#opcaoData {
    background-color: rgb(106, 80, 177);
    width: 98%;
    height: 35%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 3%;
    flex-direction: column;
}
#opcaoData:hover {
    background-color: rgb(142, 118, 209);
}
#reportrange {
    cursor: pointer;
    color: rgb(106, 80, 177);
    padding: 0px;
    background-color: #fff;
    padding: 2% 1%;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 5px;
}
#containerBotoes {
    height:30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#btnCarregar, #btnVoltar {
    background-color: rgb(106, 80, 177);
    width: 20%;
    height: 35%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}
#btnCarregar:hover, #btnVoltar:hover {
    background-color: rgb(142, 118, 209);
    cursor: pointer;
}
#btnVoltarBarraLateral {
    background-color: rgb(64, 134, 111);
    width: 100%;
    height: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
}
#btnVoltarBarraLateral:hover {
    background-color: rgb(84, 170, 141);
    cursor: pointer;
}